.logout-link {
  cursor: pointer;
}

.side-menu-container {
  position: absolute;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
}

.side-menu-button {
  font-size:30px;
  cursor:pointer
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--dark-purple-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.sidenav .menu-title {
  position: absolute;
  top: 0;
  left: 2vw;
  font-size: 5vh;
  margin-right: 50px;
  margin-top: 2vh;
}

.navbar {
  background-color: var(--light-purple-color);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 767px) {
  .navbar-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .side-menu-container {
    display: none;
  }
}


