.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-flex {
  display: flex;
  justify-content: center;
}

.my-btn {
  margin: 15px;
  background-color: var(--dark-purple-color);
  border: 1px solid var(--dark-purple-color);
}
