.title {
  font-weight: bold;
}

.plan-info {
  padding-bottom: 10px;
  padding-top: 10px;
}

.message {
  text-align: center;
  padding-top: 10px;
  line-height: 30px;
}

.my-btn {
  background-color: var(--dark-purple-color);
  border: 1px solid var(--dark-purple-color);
}
