button {
  margin: 5px;
}

input.ng-invalid.ng-touched {
  border: 1px solid var(--red-color);
}

input.ng-invalid.ng-touched.form-check-input {
  outline: 1px solid var(--red-color);
}

select.ng-invalid.ng-touched {
  border: 1px solid var(--red-color);
}
