.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site {
  background-color: var(--purple-color);
}
