svg {
  max-height: 36px;
  margin: 0 auto;
  height: auto;
  width: auto;
  max-width: 126px;
  display: block;
}

.list-inline-item {
  padding: 10px;
}

.container {
  margin-top: 25px;
}

.footer-logo {
  margin: 10px;
}

i {
  font-size:24px;
}
