<div class="container">
  <div class="wrapper">
    <div class="column">
      <div class="cell image">
        <img src="../../../assets/common/pictures/hamburger.jpg" alt="enterprisePicture" class="img-responsive center-block">
      </div>
      <div class="cell offer-type">
        <p class="enterprise-text title">Enterprise</p>
        <p>A plan to suit the needs of your complex or large organization</p>
      </div>
      <div class="cell price">
        <p class="enterprise-text title">Custom pricing</p>
      </div>
      <div class="cell content">
        <p>Everything in Premium+</p>
        <hr>
        <p>Priority support</p>
        <hr>
        <p>Expert training and assistance</p>
        <hr>
        <p>Customizable solutions</p>
      </div>
      <div class="cell">
        <button type="button" class="btn btn-danger" (click)="buyEnterprise()">Buy enterprise</button>
      </div>
    </div>

    <div class="column">
      <div class="cell image">
        <img src="../../../assets/common/pictures/hot-dog.jpg" alt="premiumPicture" class="img-responsive center-block">
      </div>
      <div class="cell offer-type">
        <p class="premium-text  title">Premium</p>
        <p>Effortless team time management</p>
      </div>
      <div class="cell price">
        <p class="premium-text title">$18</p>
        <p>PER USER/MONTH (BILLED YEARLY)</p>
      </div>
      <div class="cell content">
        <p>Everything in Starter+</p>
        <hr>
        <p>Project and employee profitability charts</p>
        <hr>
        <p>Schedule reports to email</p>
        <hr>
        <p>Set tracking reminders, add time for your team and more</p>
        <hr>
        <p>Set up your team with the help of a Toggl consultant</p>
      </div>
      <div class="cell">
        <button type="button" class="btn btn-danger" (click)="buyPremium()">Buy premium</button>
      </div>
    </div>

    <div class="column">
      <div class="cell image">
        <img src="../../../assets/common/pictures/pizza-slice.jpg" alt="starterPicture" class="img-responsive center-block">
      </div>
      <div class="cell offer-type">
        <p class="starter-text  title">Starter</p>
        <p>Compact time tracking & reporting</p>
      </div>
      <div class="cell price">
        <p class="starter-text title">$9</p>
        <p>PER USER/MONTH (BILLED YEARLY)</p>
      </div>
      <div class="cell content">
        <p>Find your time sinks and see where you earn revenues</p>
        <hr>
        <p>Increase client satisfaction with transparent reporting</p>
        <hr>
        <p>See how well you're hitting project timelines and budgets</p>
      </div>
      <div class="cell">
        <button type="button" class="btn btn-danger" (click)="buyStarter()">Buy starter</button>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="column">
      <p class="title">
        All paid plans have unlimited team size and are billed per user in workspace. <br>
        Free plan for basic tracking is available for teams up to 5 members.
      </p>
    </div>
  </div>

  <div class="wrapper">
    <div class="column">
      <div class="wide-cell">
        <p class="table-title">
          First 30 days are free
        </p>
        <p>
          Enjoy the first 30 days of Toggl completely free with full access to all of the features in your selected plan.
        </p>
      </div>
      <div class="wide-cell">
        <p class="table-title">
          Billing per team member
        </p>
        <p>
          Freely add or remove team members in your workspace as we’ll re-calculate the billing according to your current team size.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="wide-cell">
        <p class="table-title">
          Switch or cancel anytime
        </p>
        <p>
          Feel free to switch between plans or cancel your subscription at any time – absolutely no strings attached!
        </p>
      </div>
      <div class="wide-cell">
        <p class="table-title">
          Privacy is everything
        </p>
        <p>
          We value your privacy and keep a very high level of security. Check Terms of Service and Privacy Policy for more details.
        </p>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="column">
      <p class="table-title">
        Questions? Contact us and we’ll be happy to help:
      </p>
      <a href="mailto:support@toggl.com" class="btn btn-primary email">support@toggl.com</a>
    </div>
  </div>
</div>
