hr{
  background-color: black;
}

.subpage-title-container {
  display: flex;
  justify-content: center;
}

.subpage-title {
  font-family: 'Sofia';
  font-size: 22px;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0px 30px 0px;
}

.disclaimer {
  padding: 10px;
  border: 5px groove var(--red-color);
}

.column {
  flex-direction: column;
  text-align: center;
}

.cell {
  margin: 20px 20px 20px 20px;
  max-width: 216px;
  text-align: center;
  align-items: center;
}

.wide-cell {
  margin: 20px 20px 20px 20px;
  max-width: 350px;
  text-align: center;
  align-items: center;
}

.image {
  height: 234px;
}

.offer-type {
  height: 66px;
}

.price {
  height: 50px;
}

.content {
  height: 265px;
}

.title {
  font-size: large;
  font-weight: bold;
}

.table-title {
  font-size: 30px;
  margin-bottom: 15px;
}

.enterprise-text {
  color: var(--red-color);
}

.premium-text {
  color: var(--green-color)
}

.starter-text {
  color: var(--orange-color);
}

.email {
  max-width: 160px;
  background-color: var(--dark-purple-color);
  border: 1px solid var(--dark-purple-color);
}
