<div class="panel panel-default">
  <div class="panel-heading" [ngClass]="{enterprise: plan.type==='Enterprise', premium: plan.type==='Premium', starter: plan.type==='Starter'}">{{ plan.type }}</div>
  <div class="panel-body">
    <div class="row">
      <img class="image" [src]="plan.imgUrl" alt="planPicture">
      <div class="column">
        <span class="title"
              [ngClass]="{enterprise: plan.type==='Enterprise', premium: plan.type==='Premium', starter: plan.type==='Starter'}">
          Price:
        </span>
        <span>{{ plan.price }}</span>
      </div>
      <div class="column">
        <span class="title" [ngClass]="{enterprise: plan.type==='Enterprise', premium: plan.type==='Premium', starter: plan.type==='Starter'}">Description:</span>
        <span [innerText]="plan.description"></span>
      </div>
      <div class="column">
        <span class="title" [ngClass]="{enterprise: plan.type==='Enterprise', premium: plan.type==='Premium', starter: plan.type==='Starter'}">Active time:</span>
        <span [innerText]="plan.getActiveTime()"></span>
      </div>
      <div class="column">
        <span class="title" [ngClass]="{enterprise: plan.type==='Enterprise', premium: plan.type==='Premium', starter: plan.type==='Starter'}">Additional wishes:</span>
        <span [innerText]="plan.additionalWishes"></span>
      </div>
      <div class="column">
        <button class="btn btn-warning my-btn" (click)="onPlanEdited()">Edit</button>
        <button class="btn btn-danger my-btn" (click)="onPlanDeleted()">Delete</button>
      </div>
    </div>
  </div>
</div>
