<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <label for="email">EMAIL ADDRESS</label>
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)]="this.user.email"
          name="email"
          required
          email
          #email="ngModel"
          (click)="resetMessages()"
        />
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email!</span>
        <span class="help-block" *ngIf="this.duplicateEmail">Email already in use</span>
      </div>
      <div class="form-group">
        <label for="password">SET NEW PASSWORD</label>
        <input
          type="password"
          id="password"
          class="form-control"
          [(ngModel)]="this.user.password"
          name="password"
          #password="ngModel"
          validatePassword
          (click)="resetMessages()"
        />
        <span class="help-block" *ngIf="(!password.valid && password.touched)">
          Password should be at least 8 characters long and contain one of each characters: lowercase character, uppercase character, number and special character
        </span>
      </div>
      <div class="form-group">
        <label for="location">YOUR LOCATION</label>
        <select
          id="location"
          class="form-control"
          [(ngModel)]="this.user.location"
          name="location"
          required
          #location="ngModel"
          (click)="resetMessages()"
        >
          <option *ngFor="let location of userLocations" [value]="location.value">{{location.name}}</option>
        </select>
        <span class="help-block" *ngIf="!location.valid && location.touched">
          Please choose your location
        </span>
      </div>
      <div class="form-group">
        <label>Operation type</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" required value="edit" name="operation"
              [(ngModel)]="operation"> Edit
          </label>
          <label class="radio-inline">
            <input type="radio" required value="delete" name="operation"
                   [(ngModel)]="operation"> Delete
          </label>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary my-btn" type="submit" [disabled]="!this.loggingService.isAuthenticated()">
          Execute operation
        </button>
      </div>
    </form>
    <span *ngIf="formError" class="help-block message">Email address, location and operation type are required</span>
    <span *ngIf="edited" class="help-block message">User edited</span>
    <span *ngIf="deleted" class="help-block message">User deleted, going to welcome page in {{timeToRedirectAfterDeletion}} seconds</span>
    <span *ngIf="error" class="help-block message">{{error}}</span>
  </div>
</div>
