:root {
  --green-color: #009933;
  --red-color: #e60000;
  --orange-color: #ff9900;
  --purple-color: #dab3ff;
  --dark-purple-color: #c180ff;
  --light-purple-color: #f3e6ff;
  --soft-light-purple-colot: #e6ccff;
  --white-color: #ffffff;
}
